<!DOCTYPE html>
<html>
<head>
    <title>Light Blue - Responsive Admin Dashboard Template</title>
        <link href="css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <style>
        .chart {
            width		: 100%;
            height		: 500px;
            font-size	: 11px;
        }
    </style>
</head>
<body class="background-dark">
<nav id="sidebar" class="sidebar nav-collapse collapse"></nav>
    <div class="wrap">
        <header class="page-header">
            <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="visible-phone-landscape">
                        <a href="#" id="search-toggle">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="#" id="settings"
                           title="Settings"
                           data-toggle="popover"
                           data-placement="bottom">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="content container">
        <h2 class="page-title">Dashboard <small>Statistics and more</small></h2>
        <div class="row">
            <div class="col-lg-9">
                <section class="widget widget-tabs">
                    <header>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#total" data-toggle="tab">PVE关卡执行次数</a>
                            </li>
                        </ul>
                    </header>
                    <div class="body tab-content">
                        <div id="total" class="tab-pane active clearfix">
                            <div class="body">
                                <div class="chart" id="chartPlayerLevel"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-3">
                <section class="widget widget-tabs">
                    <header>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#date" data-toggle="tab">选择日期</a>
                            </li>
                        </ul>
                    </header>
                    <div class="body tab-content" >
                        <div id="date" class="tab-pane active clearfix">
                            <div class="datepicker clearfix"></div>
                        </div>
                    </div>
                </section>

                <section class="widget">
                    <header>
                        <h4><i class="fa fa-cog"></i> Options</h4>
                    </header>
                    <div class="body">
                        <fieldset>
                            <div class="form-group clearfix">
                                <label for="loginType" class="control-label col-sm-4">状态</label>
                                <div class="col-sm-8">
                                    <select id="loginType" name="article-status" data-style="btn-success" data-width="auto" class="selectpicker">
                                        <option value="3">活跃用户</option>
                                        <option value="7">周活跃用户</option>
                                        <option value="0">总用户</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </section>
            </div>
        </div>
        </div>
        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>


<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% dark = background == 'dark'; light = background == 'light';%>
            <button type="button" data-value="dark" class="btn btn-sm btn-default <%= dark? 'active' : '' %>">Dark</button>
            <button type="button" data-value="light" class="btn btn-sm btn-default <%= light? 'active' : '' %>">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-default <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-default <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-default <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-default <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>
<!-- common libraries. required for every page-->
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/jquery-pjax/jquery.pjax.js"></script>
<script src="lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="lib/widgster/widgster.js"></script>
<script src="lib/underscore/underscore.js"></script>

<!-- common application js -->
<script src="js/app.js"></script>
<script src="js/settings.js"></script>

<script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
<script src="lib/jquery.sparkline/index.js"></script>

<script src="lib/backbone/backbone.js"></script>
<script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

<script src="lib/d3/d3.min.js"></script>
<script src="lib/nvd3/build/nv.d3.min.js"></script>

<script src="lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="lib/underscore/underscore.js"></script>
<script src="lib/backbone/backbone.js"></script>
<script src="lib/backbone.paginator/lib/backbone.paginator.min.js"></script>
<script src="lib/backgrid/lib/backgrid.js"></script>
<script src="lib/backgrid-paginator/backgrid-paginator.js"></script>
<script src="lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- page specific libs -->
    <script src="lib/messenger/build/js/messenger.js"></script>
    <script src="lib/messenger/build/js/messenger-theme-flat.js"></script>
    <script src="lib/messenger/docs/welcome/javascripts/location-sel.js"></script>

    <!-- page application js -->
    <script src="js/ui-notifications.js"></script>

    <!-- page application js -->
    <script src="lib/amcharts/amcharts.js"></script>
    <script src="lib/amcharts/themes/dark.js"></script>
    <script src="lib/amcharts/serial.js"></script>

    <script src="lib/jquery-ui/jquery-ui.js"></script>
    <link href="lib/jquery-ui/jquery-ui.css" rel="stylesheet">
<script src="js/index.js"></script>
<script src="js/stat.js"></script>
<script>
$(function(){
    $( ".datepicker" ).datepicker({
        inline: true,
        onSelect:function(dateText, inst){
            var date = $.datepicker.formatDate( "yy-mm-dd",new Date(dateText))
            var loginType = $('#loginType option:selected').val()
            $.ajax({
                url:dataHost+"/query?table=stage_begin_times_stat&createTime="+date+"&loginType="+loginType, dataType:'json', timeout:5000})
                .done(function(d){
                    var chartOptions = defaultSingleDayOptions
                    chartOptions['dataProvider'] = d
                    chartOptions['categoryField'] = 'level'
                    chartOptions['graphs']['valueField'] = 'value'
                    AmCharts.makeChart("chartPlayerLevel", chartOptions)
                })
        }
    });
})
</script>

</body>
</html>
